$brown:        #743f09;
$light-brown : #9b7650;
$dark-brown :  #553622;
$orange:       #ca7831;
$orange2:       #c38a08;
$dark-orange : #bf5900;
$dark-orange2 : #fff0cf;
$light-orange : #cf823f;
$gray :        #707070;
$gray1 :       #91949b;
$light-gray :  #e2e2e2;
$light-gray2 : #e4e4e4;
$light-gray3 : #c2c0c0;
$light-gray4 : #f0efef;
$light-gray5 : #d6d6d6;

$very-light-gray:#fafbf9;
$dark-gray:    #4d4a4a;
$dark-gray2:   #8d8d8d;
$scroll-bg-color: #f1f1f1;

$cpinputbgcolor : $light-gray4;
$cpinputbordercolor : $light-gray3;
$kgbuttonbgcolor : $orange;

