.react-datetime-picker--open,.react-datetime-picker--closed {
    position:absolute;
    border: 1px solid #bf5900;
    padding-left: 5px;
    border-radius: 4px;
    background-color: white;
}
.react-datetime-picker__wrapper{border:0px;}
.kgsdropdown{

    background: white !important;
}
.cpinput{width:100%;}
.modal{
    background: rgba(0,0,0,0.5);
}
#cs_reset{
    left:-14px;
}